# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      #- name: Update
      #  run: |
      #    sudo apt update 
      #    sudo apt upgrade
          
      - name: Prelude
        run: |
          sudo apt-get install cmake 
          sudo apt-get install gcc
          sudo apt-get install cmake ninja-build
          sudo cd IT_Academy/Task_1 
          mkdir build 
          cd build

      # Runs a set of commands using the runners shell
      - name: Build & CTest
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=DEBUG ..
          cmake --ctest .
          
      - name: Installation Testing
        run: |
          cmake --install .
          Test hello world
