

name: CI


on:
  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

          
      - name: Prelude
        run: |
          sudo apt-get install cmake 
          sudo apt-get install gcc
          sudo apt-get install cmake ninja-build
          cd Task_1 
          mkdir build 

      - name: Build
        run: |
          cd Task_1/build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=DEBUG .. -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build .
      
      - name: CTest
        run: |
          cd Task_1/build
          cmake --ctest .
          
      - name: Installation Testing
        run: |
          cd Task_1/build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=DEBUG ..
          sudo cmake --install .
          Test hello world
